.upcoming-movies {
  text-align: center;
  background-color: #ff9999;
  padding: 8px;
  font-size: 1rem;
}

.left-section {
  width: 76%;
}

.right-section {
  padding-top: 20px;
  width: 24%;
}

.poster {
  height: 100%;
  width: auto;
}

.released-movies {
  margin: 15px;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 16px;
}

@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }
  .left-section {
    width: 100%;
  }
  .right-section {
    width: 90%;
  }
  .released-movies {
    margin: 8px;
  }
}
